html, body {
    height: 100%;
    margin: 0;
}
body {
    background-image: linear-gradient(to right top,pink, purple, indigo, magenta, plum);
}
.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background-color:magenta;
    float: none;
    border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 100px;
}

#login_button
{
	width: 80%;border-radius: 15px;
    margin-bottom: 20px;
}